absl-py==2.1.0
alabaster==0.7.16
annotated-types==0.6.0
anyio==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-lru==2.0.4
attrs==23.1.0
autopep8==2.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
bitsandbytes==0.43.0
bleach==4.1.0
Bottleneck==1.3.7
Brotli==1.0.9
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.4
chex==0.1.86
click==8.1.7
cloudpickle==2.2.1
comm==0.2.1
contourpy==1.2.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dgl==2.1.0+cu121
dglgo==0.0.2
dgllife==0.3.2
docutils==0.20.1
etils==1.5.2
exceptiongroup==1.2.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.13.1
flax==0.8.2
fonttools==4.25.0
fsspec==2024.3.1
future==0.18.3
fuzzywuzzy==0.18.0
gdown==5.1.0
gmpy2==2.1.2
greenlet==3.0.1
hyperopt==0.2.7
idna==3.4
imagesize==1.4.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipykernel==6.28.0
ipython==8.15.0
isort==6.0.0b2
jax==0.4.26
jaxlib==0.4.23.dev20240317
jedi==0.18.1
Jinja2==3.1.3
joblib==1.2.0
json5==0.9.6
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.11
jupyterlab-pygments==0.1.2
jupyterlab_server==2.25.1
kiwisolver==1.4.4
lightning==2.2.1
lightning-utilities==0.11.2
littleutils==0.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-dtypes==0.4.0
mpmath==1.3.0
msgpack==1.0.8
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.1
notebook_shim==0.2.3
numexpr==2.8.7
numpy==1.26.4
numpydoc==1.7.0
nvidia-cublas-cu12==12.4.2.65
nvidia-cuda-cupti-cu12==12.4.99
nvidia-cuda-nvcc-cu12==12.4.99
nvidia-cuda-runtime-cu12==12.4.99
nvidia-cudnn-cu12==9.0.0.312
nvidia-cufft-cu12==11.2.0.44
nvidia-cusolver-cu12==11.6.0.99
nvidia-cusparse-cu12==12.3.0.142
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
ogb==1.3.6
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.5.7
outdated==0.2.2
overrides==7.4.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.1
platformdirs==3.10.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pycairo==1.23.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.15.1
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
PyTDC==0.3.8
python-dateutil==2.8.2
python-json-logger==2.0.7
python-Levenshtein==0.12.2
pytorch-lightning==2.2.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
rdkit-pypi==2022.9.5
referencing==0.30.2
reportlab==3.5.67
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.10.6
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.3.0
scipy==1.12.0
seaborn==0.12.2
Send2Trash==1.8.2
setuptools==68.2.2
shellingham==1.5.4
sip==6.7.12
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.25
stack-data==0.2.0
sympy==1.12
tabulate==0.9.0
tensorboardX==2.6.2.2
tensorstore==0.1.56
terminado==0.17.1
threadpoolctl==2.2.0
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.1
torch==2.2.1
torchaudio==2.2.1
torchdata==0.7.1
torchmetrics==1.3.2
torchvision==0.17.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.7.1
triton==2.2.0
typer==0.12.0
typer-cli==0.12.0
typer-slim==0.12.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
wheel==0.41.2
zipp==3.17.0
